.app-shell {
  position: relative;
  min-height: 100%;
  max-width: 430px;
  margin: 0 auto;
  background: transparent;
}

.app-shell.screen-setup,
.app-shell.screen-history,
.app-shell.screen-game,
.app-shell.screen-achievements,
.app-shell.screen-account,
.app-shell.change-password-screen {
  max-width: 600px;
  min-height: 100%;
  background: var(--color-bg);
}

.screen {
  min-height: 100%;
  overflow-y: auto;
  /* padding-bottom: 88px; */
}

.screen-inner {
  padding: 16px;
}

.home-screen,
.history-screen,
.history-detail-screen,
.score-entry-screen {
  min-height: 852px;
  /* overflow-x: hidden; */
  background: var(--color-bg);
  font-family: var(--font-main);
}

.home-screen,
.history-screen,
.history-detail-screen {
  padding-bottom: 72px;
}
