.game-card-summary {
    display: flex;
    align-items: center;
    gap: 20px;
}

.detail-thumbnail {
    width: 110px;

    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
    background: #a16f43;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-thumbnail span {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.game-card-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.game-card-summary h2 {
    font-size: 20px;
    line-height: 1.0;
    font-weight: 700;
    color: #38322E;
}

.game-card-summary p {
    font-size: 16px;
    line-height: 1.0;
    font-weight: 400;
    color: #70655C;
}

.game-summary {
    display: flex;
    gap: 8px;
}

.summary-card {
    flex: 1;
    background: #f5f1ed;
    border-radius: 12px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.summary-card span {
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    color: #333D4A;
}

.summary-card strong {
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    color: #333D4A;
}

.top-player-card {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 8px;

}

.top-player-title {
    display: block;
    font-size: 14px;
    padding: 0px 16px;
    font-weight: 700;
    color: #70655C;
    font-style: bold;
}

.top-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f1ed;
    border-radius: 12px;
    padding: 12px 16px;
}

.top-player-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.top-player-info span {
    font-size: 16px;
    font-weight: 700;
    color: #374151;
}

.top-player-info img:first-child {
    width: 24px !important;
    height: 24px !important;
}

.top-player-info img:nth-child(2) {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    object-fit: cover;
}

.totals-winner-matches {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.totals-winner-matches span:first-child {
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    color: #5f5a57;
}

.totals-winner-matches span:last-child {
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    color: #2f3948;
}

.score-create-btn {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 12px;
    background: #a16f43;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.score-create-btn:hover {
    opacity: 0.9;

}

.score-create-btn span {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    line-height: 20px;
}

.score-create-btn img {
    width: 24px !important;
    height: 24px !important;
}